body {background-color: lightblue}
.professional {background-color: lightblue;}
.personal {background-color: lightblue}
hr {
background-color: black;
width: 100%;
height:3px; }
#Portfolio {text-align: center;}
.red{color: red;}
.underline{text-decoration: underline;}
.bold {font-weight: bold;}
.photo {border: 5px solid black;}
.link {text-align: center;}
ul {color:black}
.photo2 {border-radius: 12px;}
